.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:white;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: auto;
}
.box {
  background-color:white;
  width: 33%;
  padding: 5px;
}
h4{
  color: black;
  text-align: left;
}
h6{
  color: black;
  text-align: left;
}
.h7{
  color: red;
  text-align: left;
}
.response{
  color: green;
  text-align: center;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
 
}
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.input-bar {
  border:none;
  border-bottom:1px solid #ccc;
}

input{
  border:none;
  border-bottom:1px solid #ccc;
}

label {
  display: inline-block;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.header-background{
  background-image: "header.jpg";
  background-color: #EEEEEE;
}

.btn-home{
  padding: 70px;
  align-items: auto;
  justify-content: space-around;

}
.item-align{
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
